ul.ma-movie-list
    each movie in movies
        li(id= movie.py_id)
            .column-1
                img(src= movie.imageUrl)
                if movie.watched
                    button.unwatched 取消
                else
                    button.watched 已看
            .column-2
                h3.title= `${movie.title} (${movie.year})`
                h3.rating= `${movie.rating ? movie.rating + " 分" : ""}`
                ul
                    li.country= `国家：${movie.countries.join(" / ")}`
                    li.director= `导演: ${movie.directors.join(" / ")}`
                    li.casts= `主演: ${movie.casts.join(" / ")}`
